body {
  background: #eeeeee;
  color: var(--color-vsGrayDark);
}

#navbar-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}
